<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Demonstrates Multi User Log In</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
    <style type="text/css">
        body {
            padding: 1em;
        }
    </style>
</head>
<body>

<div class="container">

    <div th:replace="fragments/header :: header">...</div>


    <!-- Static navbar -->
    <!-- <nav class="navbar navbar-default" role="navigation">
         <div class="container-fluid">

             <div class="navbar-header">
                 <a class="navbar-brand" href="https://github.com/spring-projects/spring-session/">Spring Session</a>
             </div>

             <div id="navbar" class="navbar-collapse collapse">
                 <ul class="nav navbar-nav">
                     <li>
                         <a id="navHome" href="/" th:href="@{/}">Home</a>
                     </li>
                     <li class="active">
                         <a id="navLink" href="/link" th:href="@{/link}">Link</a>
                     </li>
                 </ul>
             <span th:if="${currentAccount != null || !accounts.empty }">
                 <ul class="nav navbar-nav navbar-right">
                     <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                             <span th:text="${username}">jlong</span>
                             <span class="caret"></span>
                         </a>
                         <ul class="dropdown-menu" role="menu">
                             <span th:if="${currentAccount != null}">
                                  <li><a id="logout" th:href="${currentAccount.logoutUrl}">Log Out</a></li>
                                  <li><a id="addAccount" th:href="${addAccountUrl}">Add Account</a></li>
                             </span>
                             &lt;!&ndash;

                                      <c:if test="${not empty accounts}">
                                          <li class="divider"></li>
                                          <li class="dropdown-header">Switch Account</li>
                                          <li class="divider"></li>
                                      </c:if>
                                      <c:forEach items="${accounts}" var="account">
                                          <li><a id="switchAccount${account.username}" href="${account.switchAccountUrl}"><c:out value="${account.username}"/></a></li>
                                      </c:forEach>&ndash;&gt;
                         </ul>
                     </li>
                 </ul>
             </span>
             </div>
             &lt;!&ndash;/.nav-collapse &ndash;&gt;
         </div>
         &lt;!&ndash;/.container-fluid &ndash;&gt;
     </nav>-->

    <h1>Description</h1>

    <p>This page demonstrates how we keep track of the correct user session between links even when multiple tabs are
        open. Try opening another tab with a different user and browse. Then come back to the original tab and see the
        correct user is maintained.</p>

    <span th:if="${ username == null}">
            <h1>Please Log In</h1>
            <p>
                You are not currently authenticated with this
                session. <a th:href="@{/}">Log In</a>.
            </p>
    </span>
    <span th:if="${ username != null}">


          <h1 id="un"><span th:text="${username}"> username </span></h1>


        <p>You are authenticated as <b th:text="${username}">rwinch </b>.
            Observe that you can <a th:href="@{linkUrl}">navigate links</a> and the correct session is used.
            Using the links in the upper right corner you can:</p>

                <ul>
                    <li>Log Out</li>
                    <li>Switch Accounts</li>
                    <li>Add Account</li>
                </ul>


    </span>

</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/jquery.min.js}"></script>
<script th:src="@{/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>
